<div class="card-body">
  <h4 class="card-title">Stats: </h4>
  <table class="table table-hover">
    <tr class="table-default">
      <th scope="row">Melee Damage</th>
      <td>12</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Range Damage</th>
      <td>8</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Magic Damage</th>
      <td>10</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Defence</th>
      <td>12</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Magic Defence</th>
      <td>10</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Luck</th>
      <td>20</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Speed</th>
      <td>8</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Charisma</th>
      <td>18</td>
    </tr>
  </table>
</div>