<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <a class="nav-link active" data-toggle="tab" href="#home">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Finalized</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" data-toggle="tab" href="#profile">Failed</a>
    </li>
  </ul>
  <table class="table table-hover">
    <tr>
      <th style="font-size:20px">The fight with the Thanos</th>
    </tr>
    <tr>
      <th style="font-size:20px">Getting the Gauntlet</th>
    </tr>
    <tr>
      <th style="font-size:20px">Time Travellers</th>
    </tr>
  </table>
</div>