<div class="card-body">
  <h4 class="card-title">Contribution points: </h4>
  <table class="table table-hover">
    <tr class="table-default">
      <th scope="row">Strength</th>
      <td>6</td>
      <td>+</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Dexterity</th>
      <td>4</td>
      <td>+</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Intelligence</th>
      <td>5</td>
      <td>+</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Wisdom</th>
      <td>5</td>
      <td>+</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Luck</th>
      <td>10</td>
      <td>+</td>
    </tr>
    <tr class="table-default">
      <th scope="row">Charisma</th>
      <td>8</td>
      <td>+</td>
    </tr>
  </table>
</div>