<div class="row">
  <div class="col">
    <div class="card border-secondary" style="margin:10px">
      <app-skills></app-skills>
    </div>
    <div class="card border-secondary" style="margin:10px">
      <app-abilities></app-abilities>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary" style="margin:10px;">
      <app-information></app-information>
    </div>
    <div class="card border-secondary" style="margin:10px;">
      <app-health-bars></app-health-bars>
    </div>
    <div class="card border-secondary" style="margin:10px">
      <app-contribution-points></app-contribution-points>
    </div>
  </div>
  <div class="col">
    <div class="card border-secondary" style="margin:10px">
      <app-stats></app-stats>
    </div>
    <div class="card border-secondary" style="margin:10px">
      <app-history></app-history>
    </div>
  </div>
</div>